body{
    background-color:rgb(126, 158, 255);
    color: rgb(205, 112, 175);
}
main{
    color:blueviolet;
}
footer{
    color:palevioletred;
}
ul{
    color:rgb(239, 115, 239);
}
p{
    color:black;
}